# repertoires
/vendor/


# fichiers
composer.json
composer.lock
src/conf/conf.ini
src/conf/._conf.ini
.idea
composer.phar
info

# fichiers mac
._DS_Store
._index.php
._test.php
._composer.json
._README.md
._composer.phar
